.tms-intro h1 span {
  font-weight: bold;
  font-size: 3rem;
}
.tms-header .tms-general-nav .tms-general-submenu li,
.tms-header-fixed .tms-general-nav .tms-general-submenu li,
.tms-header-transparent .tms-general-nav .tms-general-submenu li {
  display: block;
}
.tms-header .tms-general-nav .tms-general-submenu li a,
.tms-header-fixed .tms-general-nav .tms-general-submenu li a,
.tms-header-transparent .tms-general-nav .tms-general-submenu li a {
  display: inline-block;
  width: auto;
}
.tms-portfolio .tms-portfolio-item img {
  width: 100%;
  height: auto;
}
.view-id-blog img {
  border-radius: 100%;
  display: block;
  height: auto;
}
.view-id-blog img:hover {
  border: 3px solid #1769AE;
  transition: all .1s;
}
