/* ----------------
General styles which contain all initial settings and styles for basic elements:
---------------- */
/* ----------------
Colors:

- Red:    #C4573D
- Blue:   #1769AE
- Green:  #4CAE17
- Yellow: #EEC830
- Pink:   #F44298
---------------- */
/* --------
Transition:
-------- */
/* ----------------
Breakpoints:
- Large breakpoint is set for screens bigger than 768px
- Medium breakpoint is set for screens bigger than 480px and smaller than 768px
- Small breakpoint is set for screens smaller than 480px

- There is special breakpoint for main navigation. It should be adjust according number of used items

---------------- */
/* ----------------
Default size unit:
---------------- */
html {
  font-size: 12px;
  /* small devices */
}

@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
    /* medium devices */
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
    /* large devices */
  }
}

/* ----------------
Containers:
- Standard container has width egual to 1300px
- Fluid container has width equal to 100% of viewport
---------------- */
/* ----------------
Headings:
- Standard size of headings can be increased of 150% by adding of 'large' in class name; see '-elements.scss'
---------------- */
/* ----------------
Paragraphs:
- Standard size of paragraphs can be increased of 150% by adding of 'large' in class name; see '-elements.scss'
---------------- */
/* --------
Typograpfy options:
- Ubuntu as font for headings
- Open Sans as font for paragraphs and long texts
-------- */
/* --------
Container:
-------- */
.tms-container, .tms-container-fluid {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.tms-container {
  max-width: 1300px;
}

.tms-container-fluid {
  max-width: 100%;
}

/* --------
Clearfix:
-------- */
.tms-row::before,
.tms-row::after {
  content: " ";
  display: table;
}

.tms-row::after {
  clear: both;
}

.tms-row {
  *zoom: 1;
}

/* --------
Columns:
-------- */
.tms-col,
.tms-col-12-12,
.tms-col-11-12,
.tms-col-10-12,
.tms-col-9-12,
.tms-col-8-12,
.tms-col-7-12,
.tms-col-6-12,
.tms-col-5-12,
.tms-col-4-12,
.tms-col-3-12,
.tms-col-2-12,
.tms-col-1-12 {
  float: left;
  display: block;
  position: relative;
}

.tms-col-12-12 {
  width: 100%;
}

.tms-col-11-12 {
  width: calc(100% / 12 * 11);
}

.tms-col-10-12 {
  width: calc(100% / 12 * 10);
}

.tms-col-9-12 {
  width: calc(100% / 12 * 9);
}

.tms-col-8-12 {
  width: calc(100% / 12 * 8);
}

.tms-col-7-12 {
  width: calc(100% / 12 * 7);
}

.tms-col-6-12 {
  width: calc(100% / 12 * 6);
}

.tms-col-5-12 {
  width: calc(100% / 12 * 5);
}

.tms-col-4-12 {
  width: calc(100% / 12 * 4);
}

.tms-col-3-12 {
  width: calc(100% / 12 * 3);
}

.tms-col-2-12 {
  width: calc(100% / 12 * 2);
}

.tms-col-1-12 {
  width: calc(100% / 12 * 1);
}

.tms-col-opposite {
  float: right !important;
}

.tms-col-hidden {
  display: none;
}

@media screen and (min-width: 480px) {
  .tms-col-m,
  .tms-col-m-12-12,
  .tms-col-m-11-12,
  .tms-col-m-10-12,
  .tms-col-m-9-12,
  .tms-col-m-8-12,
  .tms-col-m-7-12,
  .tms-col-m-6-12,
  .tms-col-m-5-12,
  .tms-col-m-4-12,
  .tms-col-m-3-12,
  .tms-col-m-2-12,
  .tms-col-m-1-12 {
    float: left;
    display: block;
    position: relative;
  }
  .tms-col-m-12-12 {
    width: 100%;
  }
  .tms-col-m-11-12 {
    width: calc(100% / 12 * 11);
  }
  .tms-col-m-10-12 {
    width: calc(100% / 12 * 10);
  }
  .tms-col-m-9-12 {
    width: calc(100% / 12 * 9);
  }
  .tms-col-m-8-12 {
    width: calc(100% / 12 * 8);
  }
  .tms-col-m-7-12 {
    width: calc(100% / 12 * 7);
  }
  .tms-col-m-6-12 {
    width: calc(100% / 12 * 6);
  }
  .tms-col-m-5-12 {
    width: calc(100% / 12 * 5);
  }
  .tms-col-m-4-12 {
    width: calc(100% / 12 * 4);
  }
  .tms-col-m-3-12 {
    width: calc(100% / 12 * 3);
  }
  .tms-col-m-2-12 {
    width: calc(100% / 12 * 2);
  }
  .tms-col-m-1-12 {
    width: calc(100% / 12 * 1);
  }
  .tms-col-m-opposite {
    float: right !important;
  }
  .tms-col-m-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tms-col-l,
  .tms-col-l-12-12,
  .tms-col-l-11-12,
  .tms-col-l-10-12,
  .tms-col-l-9-12,
  .tms-col-l-8-12,
  .tms-col-l-7-12,
  .tms-col-l-6-12,
  .tms-col-l-5-12,
  .tms-col-l-4-12,
  .tms-col-l-3-12,
  .tms-col-l-2-12,
  .tms-col-l-1-12 {
    float: left;
    display: block;
    position: relative;
  }
  .tms-col-l-12-12 {
    width: 100%;
  }
  .tms-col-l-11-12 {
    width: calc(100% / 12 * 11);
  }
  .tms-col-l-10-12 {
    width: calc(100% / 12 * 10);
  }
  .tms-col-l-9-12 {
    width: calc(100% / 12 * 9);
  }
  .tms-col-l-8-12 {
    width: calc(100% / 12 * 8);
  }
  .tms-col-l-7-12 {
    width: calc(100% / 12 * 7);
  }
  .tms-col-l-6-12 {
    width: calc(100% / 12 * 6);
  }
  .tms-col-l-5-12 {
    width: calc(100% / 12 * 5);
  }
  .tms-col-l-4-12 {
    width: calc(100% / 12 * 4);
  }
  .tms-col-l-3-12 {
    width: calc(100% / 12 * 3);
  }
  .tms-col-l-2-12 {
    width: calc(100% / 12 * 2);
  }
  .tms-col-l-1-12 {
    width: calc(100% / 12 * 1);
  }
  .tms-col-l-opposite {
    float: right !important;
  }
  .tms-col-l-hidden {
    display: none;
  }
}

/* --------
Paddings:
-------- */
.tms .tms-pad-no {
  padding: 0;
}

.tms .tms-pad-no-vl {
  padding-top: 0;
  padding-bottom: 0;
}

.tms .tms-pad-no-hl {
  padding-left: 0;
  padding-right: 0;
}

.tms .tms-pad {
  padding: 1.5rem;
}

.tms .tms-pad-vl {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tms .tms-pad-hl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.tms .tms-pad-2x {
  padding: 3rem;
}

.tms .tms-pad-2x-vl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tms .tms-pad-2x-hl {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* --------
Basic elements:
-------- */
html, body {
  background-color: white;
  background-image: url("../images/site-background.png");
  background-repeat: repeat;
  font-family: 'Primary', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-rendering: geometricPrecision;
}

section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section.tms-no-pad {
  padding-top: 0;
  padding-bottom: 0;
}

section.tms-no-top-pad {
  padding-bottom: 0;
}

section.tms-no-btm-pad {
  padding-bottom: 0;
}

section.tms-overlap {
  margin-top: -9rem;
}

section.tms-border-top {
  border-top: 3px solid #C4573D;
}

strong, .tms-strong {
  font-weight: bold;
}

hr {
  display: block;
  width: 25%;
  height: 1px;
  margin: 1rem auto;
  border: 0;
  background-color: #505050;
}

/* --------
Links & Buttons:
-------- */
.tms a {
  text-decoration: none;
  color: #C4573D;
  border-bottom: 1px dotted #C4573D;
}

.tms a:hover {
  color: #000000;
  border-bottom-style: solid;
  border-color: #000000;
  transition: all 0.3s;
}

.tms .standalone {
  border-bottom-width: 0px;
}

.tms .tms-btn, .tms a.tms-btn-primary, .tms a.tms-btn-secondary, .tms a.tms-btn-secondary-light, .tms button {
  display: inline-block;
  min-width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.tms a.tms-btn-primary {
  color: #FFFFFF;
  background-color: #C4573D;
  border-color: #C4573D;
}

.tms a.tms-btn-primary:hover {
  color: #FFFFFF;
  background-color: #C4573D;
}

.tms a.tms-btn-secondary {
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}

.tms a.tms-btn-secondary:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.tms a.tms-btn-secondary-light {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
}

.tms a.tms-btn-secondary-light:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.tms a.tms-btn-img {
  text-decoration: none;
  border-bottom: 0;
}

.tms a.tms-btn-img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tms a.tms-btn-img:hover img {
  border-width: 3px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* --------
Text adjustments:
-------- */
.tms-center {
  text-align: center;
}

.tms-left {
  text-align: left;
}

.tms-right {
  text-align: right;
}

.tms-uppercase {
  text-transform: uppercase;
}

/* --------
Headings:
-------- */
.tms h1, .tms h2, .tms h3, .tms h4 {
  font-family: 'Secondary', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
}

.tms h1 span, .tms h2 span, .tms h3 span, .tms h4 span {
  font-family: 'Secondary', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}

.tms h1 span, .tms h2 span, .tms h3 span, .tms h4 span {
  display: block;
}

.tms h1 span.alt, .tms h2 span.alt, .tms h3 span.alt, .tms h4 span.alt {
  color: #C4573D;
}

.tms h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.tms h1.tms-large {
  font-size: 3.75rem;
}

.tms h1.tms-large span {
  font-size: 3.3rem;
}

.tms h1 span {
  font-size: 2.25rem;
}

.tms h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.tms h2.tms-large {
  font-size: 3rem;
}

.tms h2 span {
  font-size: 1.6rem;
}

.tms h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.tms h3.tms-large {
  font-size: 2.25rem;
}

.tms h3 span {
  font-size: 1.2rem;
}

.tms h4 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.tms h4.tms-large {
  font-size: 1.875rem;
}

.tms h4 span {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .tms h1.tms-large {
    font-size: 6rem;
  }
  .tms h1.tms-large span {
    font-size: 3.75rem;
  }
}

/* --------
Paragraphs:
-------- */
.tms p {
  font-size: 1rem;
  line-height: 1.75;
  padding-bottom: 1rem;
}

.tms p.tms-large {
  font-size: 1.5rem;
}

.tms p.tms-inline {
  display: inline-block;
}

.tms p.tms-closer {
  line-height: 1.25;
}

.tms p.tms-note {
  font-size: 0.8rem;
  line-height: 1.25;
  color: #505050;
}

/* --------
Lists:
-------- */
.tms ul {
  font-size: 0;
  line-height: 1.75;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.tms ul li {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.tms ul.tms-list-row {
  list-style: none;
  padding-left: 0;
}

.tms ul.tms-list-row li {
  display: inline-block;
  width: auto;
  padding: 0 0.5rem;
}

.tms ul.tms-list-row li a {
  border: 0;
}

.tms ul.tms-list-row li:first-child {
  padding-left: 0;
}

.tms ul.tms-list-row li:last-child {
  padding-right: 0;
}

.tms ul.tms-list-checks {
  list-style: none;
  padding-left: 0.75rem;
}

.tms ul.tms-list-checks li {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}

.tms ul.tms-list-checks li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #C4573D;
}

.tms ul.tms-list-nostyle {
  list-style: none;
  padding-left: 0;
}

.tms ul.tms-list-half li {
  width: 50%;
  vertical-align: top;
  padding-right: 0.5rem;
}

.tms ul.tms-list-indent {
  padding-top: 1rem;
}

/* --------
Blockquotes:
-------- */
.tms blockquote {
  margin: 0 auto;
}

.tms blockquote.tms-large p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.tms blockquote footer {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.tms blockquote footer cite {
  display: block;
  font-weight: bold;
  font-style: normal;
}

.tms blockquote footer span {
  font-style: normal;
  color: #C4573D;
}

/* --------
Images & Icons:
-------- */
.tms figure {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tms img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.tms img.tms-img-s {
  max-width: calc(100% / 3);
}

.tms img.tms-img-m {
  max-width: calc(100% / 2);
}

.tms img.tms-img-l {
  width: 100%;
}

.tms img.tms-img-border {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(80, 80, 80, 0.25);
}

.tms img.tms-img-border-light {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tms img.tms-img-circle {
  border-radius: 100%;
}

.tms img.tms-img-left {
  float: left;
  padding-right: 1rem;
}

.tms img.tms-img-right {
  float: right;
  padding-right: 1rem;
}

.tms .tms-icon-fa {
  color: #C4573D;
}

/* --------
Forms:
-------- */
.tms label {
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.25;
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: #505050;
}

.tms label .required {
  position: absolute;
  top: 0.35rem;
  right: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #C4573D;
}

.tms input, .tms select, .tms textarea {
  width: 100%;
  position: relative;
  display: block;
  padding: 0.5rem;
  background-color: #FFFFFF;
  border: 1px solid rgba(80, 80, 80, 0.25);
  border-radius: 0.25rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tms input:focus, .tms select:focus, .tms textarea:focus {
  border-color: #505050;
}

.tms input, .tms select {
  min-height: 3rem;
}

.tms textarea {
  min-height: 10rem;
}

.tms select {
  background-image: url("../images/angle-down.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1rem;
}

.tms input[type='checkbox'], .tms input[type='radio'] {
  top: -1px;
  width: 1rem;
  margin-right: 0.5rem;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.tms input[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

.tms input[type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

.tms button.tms-primary {
  margin: 0;
  color: #FFFFFF;
  background-color: #C4573D;
  border-color: #C4573D;
}

.tms button.tms-secondary {
  margin: 0;
  color: #C4573D;
  background-color: transparent;
  border-color: #C4573D;
}

.tms button.tms-secondary:hover {
  color: #FFFFFF;
  background-color: #C4573D;
  transition: all 0.3s;
}

.tms button.tms-secondary-dark {
  margin: 0;
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}

.tms button.tms-secondary-dark:hover {
  color: #FFFFFF;
  background-color: #000000;
  transition: all 0.3s;
}

.tms button.tms-secondary-grey {
  margin: 0;
  color: #505050;
  background-color: transparent;
  border-color: #505050;
}

.tms button.tms-secondary-grey:hover {
  color: #FFFFFF;
  background-color: #505050;
  transition: all 0.3s;
}

.tms-dark-background {
  background-color: #231F20;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: #FFFFFF;
}

.tms-primary-background {
  background-color: #C4573D;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: #FFFFFF;
}

.tms-inner-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1.5rem solid rgba(255, 255, 255, 0.1);
}

.tms-center-vl {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tms-center-hl {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tms-center-both {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tms-hover-zoom:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.tms-newsletter {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.tms-newsletter input {
  float: left;
  width: 60%;
  border-color: rgba(255, 255, 255, 0.5);
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: inherit;
}

.tms-newsletter .tms-submit {
  float: left;
  margin: 0;
  width: 40%;
  min-width: 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #FFFFFF;
  border-color: #C4573D;
  background-color: #C4573D;
}

.tms-newsletter .tms-submit:hover {
  color: #C4573D;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  transition: all 0.3s;
}

.tms-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 3px solid #C4573D;
}

.tms-back-to-top:hover {
  background-color: #C4573D;
  transition: all 0.3s;
}

.tms-back-to-top a {
  display: block;
  padding: 0.5rem 0.6rem;
  color: #C4573D;
}

.tms-back-to-top a:hover {
  color: #FFFFFF;
  transition: all 0.3s;
}

.tms-sep-vl > div:not(:last-child) {
  border-right: 1px solid rgba(80, 80, 80, 0.25);
}

.tms-sep-vl-light > div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.tms-sep-hl {
  border-bottom: 1px solid rgba(80, 80, 80, 0.25);
}

.tms-sep-hl-light {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 480px) {
  .tms-sep-m-vl > div:not(:last-child) {
    border-right: 1px solid rgba(80, 80, 80, 0.25);
  }
  .tms-sep-m-hl {
    border-bottom: 1px solid rgba(80, 80, 80, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .tms-sep-l-vl > div:not(:last-child) {
    border-right: 1px solid rgba(80, 80, 80, 0.25);
  }
  .tms-sep-l-hl {
    border-bottom: 1px solid rgba(80, 80, 80, 0.25);
  }
}

/* ----------------
Specific styles for each page module:
---------------- */
.tms-header, .tms-header-fixed, .tms-header-transparent {
  z-index: 998;
  width: 100%;
}

.tms-header .tms-logo, .tms-header-fixed .tms-logo, .tms-header-transparent .tms-logo {
  float: left;
  padding: 1.5rem 0;
}

.tms-header .tms-logo img, .tms-header-fixed .tms-logo img, .tms-header-transparent .tms-logo img {
  max-height: 1.75rem;
}

.tms-header .tms-show-nav, .tms-header-fixed .tms-show-nav, .tms-header-transparent .tms-show-nav {
  display: block;
  float: right;
  width: 2.75rem;
  height: 2.5rem;
  margin: 1rem 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: #C4573D;
}

.tms-header .tms-show-nav span, .tms-header-fixed .tms-show-nav span, .tms-header-transparent .tms-show-nav span {
  display: block;
  width: 100%;
  height: 0.25rem;
  margin-bottom: 0.35rem;
  background-color: #FFFFFF;
}

.tms-header .tms-show-nav span:first-child, .tms-header-fixed .tms-show-nav span:first-child, .tms-header-transparent .tms-show-nav span:first-child {
  margin-top: 0.3rem;
}

.tms-header .tms-general-nav, .tms-header-fixed .tms-general-nav, .tms-header-transparent .tms-general-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 4.75rem;
  width: 100%;
  font-family: 'Primary', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  background-color: rgba(35, 31, 32, 0.95);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.tms-header .tms-general-nav ul, .tms-header-fixed .tms-general-nav ul, .tms-header-transparent .tms-general-nav ul {
  font-size: 0;
  padding: 0;
}

.tms-header .tms-general-nav ul li, .tms-header-fixed .tms-general-nav ul li, .tms-header-transparent .tms-general-nav ul li {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0 1rem;
}

.tms-header .tms-general-nav a, .tms-header-fixed .tms-general-nav a, .tms-header-transparent .tms-general-nav a {
  display: block;
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.9;
  border-bottom-width: 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(80, 80, 80, 0.1);
}

.tms-header .tms-general-nav a:hover, .tms-header-fixed .tms-general-nav a:hover, .tms-header-transparent .tms-general-nav a:hover, .tms-header .tms-general-nav a.active, .tms-header-fixed .tms-general-nav a.active, .tms-header-transparent .tms-general-nav a.active {
  opacity: 1;
  color: #C4573D;
}

.tms-header .tms-general-nav a i, .tms-header-fixed .tms-general-nav a i, .tms-header-transparent .tms-general-nav a i {
  min-width: 2rem;
}

.tms-header .tms-general-nav .tms-general-submenu li, .tms-header-fixed .tms-general-nav .tms-general-submenu li, .tms-header-transparent .tms-general-nav .tms-general-submenu li {
  padding: 0;
}

.tms-header .tms-general-nav .tms-general-submenu li a, .tms-header-fixed .tms-general-nav .tms-general-submenu li a, .tms-header-transparent .tms-general-nav .tms-general-submenu li a {
  padding-left: 4rem;
}

/* ----- */
.tms-header {
  position: absolute;
  background-color: rgba(35, 31, 32, 0.95);
}

.tms-header-fixed {
  position: fixed;
  background-color: rgba(35, 31, 32, 0.95);
}

.tms-header-transparent {
  position: absolute;
  background-color: transparent;
}

.tms-header-transparent .tms-general-nav {
  margin-bottom: 0;
}

.tms-header-transparent .tms-row:first-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* ----- */
.tms-megamenu-nav {
  display: none;
  position: absolute;
  left: 3rem;
  right: 3rem;
  z-index: 999;
  font-family: 'Primary', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  background-color: rgba(35, 31, 32, 0.98);
  border-top: 3px solid #C4573D;
}

.tms-megamenu-nav h4 {
  font-size: 1rem;
}

.tms-megamenu-nav ul {
  padding: 0;
}

.tms-megamenu-nav ul li {
  font-size: 0.8rem;
}

.tms-megamenu-nav figure {
  padding-top: 0;
}

.tms-megamenu-nav p {
  font-size: 0.8rem;
}

.tms-megamenu-nav a {
  color: #FFFFFF;
  opacity: 0.95;
  border-bottom: 0;
}

.tms-megamenu-nav a:hover {
  color: #C4573D;
  opacity: 1;
  transition: all 0.3s;
}

.tms-megamenu-nav .tms-megamenu-link-box {
  cursor: pointer;
  opacity: 0.95;
}

.tms-megamenu-nav .tms-megamenu-link-box:hover {
  opacity: 1;
  transition: all 0.3s;
}

.tms-megamenu-nav .tms-megamenu-link-box:hover h4, .tms-megamenu-nav .tms-megamenu-link-box:hover p, .tms-megamenu-nav .tms-megamenu-link-box:hover a {
  color: #C4573D !important;
  transition: all 0.3s;
}

@media screen and (min-width: 1280px) {
  .tms-header-transparent .tms-mobile-nav, .tms-header .tms-mobile-nav, .tms-header-fixed .tms-mobile-nav {
    display: none;
  }
  .tms-header-transparent .tms-general-nav, .tms-header .tms-general-nav, .tms-header-fixed .tms-general-nav {
    background-color: transparent;
    display: block;
    width: auto;
    max-width: inherit;
    margin-bottom: 0;
    top: 0;
  }
  .tms-header-transparent .tms-general-nav ul li, .tms-header .tms-general-nav ul li, .tms-header-fixed .tms-general-nav ul li {
    font-size: 0.8rem;
    width: auto;
    padding: 0;
    border-bottom: 0;
  }
  .tms-header-transparent .tms-general-nav a, .tms-header .tms-general-nav a, .tms-header-fixed .tms-general-nav a {
    color: #FFFFFF;
    padding: 1.7rem 0.75rem;
  }
  .tms-header-transparent .tms-general-nav a i, .tms-header .tms-general-nav a i, .tms-header-fixed .tms-general-nav a i {
    min-width: auto;
  }
  .tms-header-transparent .tms-general-nav .tms-general-submenu, .tms-header .tms-general-nav .tms-general-submenu, .tms-header-fixed .tms-general-nav .tms-general-submenu {
    position: absolute;
    z-index: 999;
    width: 15rem;
    color: #FFFFFF;
    background-color: rgba(35, 31, 32, 0.98);
    border-top: 3px solid #C4573D;
  }
  .tms-header-transparent .tms-general-nav .tms-general-submenu li a, .tms-header .tms-general-nav .tms-general-submenu li a, .tms-header-fixed .tms-general-nav .tms-general-submenu li a {
    width: 100%;
    padding: 1rem 0.75rem;
  }
  .tms-header-transparent .tms-general-nav a:hover, .tms-header-transparent .tms-general-nav a.active {
    color: #FFFFFF;
  }
  .tms-header-transparent .tms-general-nav a span {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    border-bottom: 3px solid #C4573D;
    transition: width 0.3s;
  }
  .tms-header-transparent .tms-general-nav a:hover span, .tms-header-transparent .tms-general-nav a.active span {
    width: 100%;
  }
}

.tms-intro, .tms-intro-bg, .tms-intro-bg-full {
  position: relative;
  width: 100%;
}

.tms-intro h1, .tms-intro-bg h1, .tms-intro-bg-full h1 {
  padding-bottom: 0;
}

.tms-intro .tms-intro-scroll, .tms-intro-bg .tms-intro-scroll, .tms-intro-bg-full .tms-intro-scroll {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 2rem;
  margin-left: -1rem;
}

.tms-intro .tms-intro-scroll .mouse, .tms-intro-bg .tms-intro-scroll .mouse, .tms-intro-bg-full .tms-intro-scroll .mouse {
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  border: 2px solid #FFFFFF;
  border-radius: 0.75rem;
}

.tms-intro .tms-intro-scroll .mouse .mouse-wheel, .tms-intro-bg .tms-intro-scroll .mouse .mouse-wheel, .tms-intro-bg-full .tms-intro-scroll .mouse .mouse-wheel {
  width: 0.25rem;
  height: 0.35rem;
  margin: 0.25rem auto 0;
  display: block;
  background-color: #FFFFFF;
  border-radius: 75%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 0.25rem;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 1rem;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 0.1rem;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 1rem;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 0.1rem;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 1rem;
    opacity: 0;
  }
}

.tms-intro {
  padding-top: 8rem;
}

.tms-intro-bg {
  height: 32rem;
  background-image: url("http://placehold.it/2560x1440/6a6a6a");
}

.tms-intro-bg .tms-container {
  position: absolute;
}

.tms-intro-bg-full {
  height: 100vh;
  background-image: url("http://placehold.it/2560x1440/6a6a6a");
}

.tms-intro-bg-full .tms-container {
  position: absolute;
}

.tms-intro-dark {
  color: #000000;
}

.tms-intro-light {
  color: #FFFFFF;
}

.tms-portfolio .tms-portfolio-nav {
  display: none;
  padding-bottom: 0;
  line-height: 1;
}

.tms-portfolio .tms-portfolio-nav a {
  position: relative;
  display: block;
  padding: 1.5rem 0.5rem;
  min-width: 5rem;
  color: #FFFFFF;
}

.tms-portfolio .tms-portfolio-nav a.active {
  font-weight: bold;
}

.tms-portfolio .tms-portfolio-nav a.active::after {
  position: absolute;
  left: 50%;
  bottom: -1.25rem;
  z-index: 1;
  width: 2rem;
  font-size: 2rem;
  content: '\f0d7';
  font-family: 'FontAwesome';
  margin-left: -1rem;
  color: #C4573D;
}

.tms-portfolio .tms-portfolio-item {
  overflow: hidden;
}

.tms-portfolio .tms-portfolio-item img {
  max-width: inherit;
}

.tms-portfolio .tms-hover-text h3 {
  visibility: hidden;
  font-weight: bold;
  padding-bottom: 0.75rem;
  color: #FFFFFF;
}

.tms-portfolio .tms-hover-text h3 span {
  color: #C4573D;
}

.tms-portfolio .tms-hover-text p {
  visibility: hidden;
  font-weight: bold;
  padding-bottom: 0.75rem;
  color: #FFFFFF;
}

.tms-portfolio .tms-hover-text p span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  color: #C4573D;
}

.tms-portfolio .tms-hover-text p a {
  display: inline-block;
  border-bottom: 0;
  color: #FFFFFF;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.tms-portfolio .tms-hover-text:hover {
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

.tms-portfolio .tms-hover-text:hover h3 {
  visibility: visible;
}

.tms-portfolio .tms-hover-text:hover p {
  visibility: visible;
}

.tms-portfolio .tms-portfolio-detail {
  position: relative;
}

.tms-portfolio .tms-portfolio-detail .tms-detail-info {
  display: none;
}

.tms-portfolio .tms-portfolio-detail .tms-detail-info a:hover {
  border-bottom-style: solid;
  border-bottom-color: #C4573D;
  color: #C4573D;
}

.tms-portfolio .tms-portfolio-detail .tms-detail-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.tms-portfolio .tms-portfolio-detail .tms-detail-close::before, .tms-portfolio .tms-portfolio-detail .tms-detail-close::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #C4573D;
}

.tms-portfolio .tms-portfolio-detail .tms-detail-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tms-portfolio .tms-portfolio-detail .tms-detail-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tms-portfolio .tms-portfolio-detail .tms-detail-close:hover::before, .tms-portfolio .tms-portfolio-detail .tms-detail-close:hover::after {
  background: #C4573D;
}

.tms-portfolio .tms-detail-home {
  display: block;
}

.tms-project .tms-detail-home {
  display: none;
}

.tms-team .tms-team-member > div {
  padding-bottom: 3rem;
}

.tms-quote {
  width: 100%;
  background-image: url("http://placehold.it/2560x1200/6a6a6a");
}

.tms-pricing-table {
  padding-bottom: 3rem;
}

.tms-pricing-table .tms-pricing-normal h3, .tms-pricing-table .tms-pricing-choosed h3 {
  padding-bottom: 0;
}

.tms-pricing-table .tms-pricing-normal hr, .tms-pricing-table .tms-pricing-choosed hr {
  display: block;
  width: 25%;
  height: 1px;
  border: 0;
  margin: 2rem auto;
}

.tms-pricing-table .tms-pricing-normal p .tms-price, .tms-pricing-table .tms-pricing-choosed p .tms-price {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.tms-pricing-table .tms-pricing-normal {
  border: 1px solid #505050;
  padding: 1.5rem;
  background-color: #FFFFFF;
}

.tms-pricing-table .tms-pricing-normal p .tms-price {
  color: #C4573D;
}

.tms-pricing-table .tms-pricing-normal p .tms-btn {
  color: #000000;
  border-color: #000000;
  background-color: #FFFFFF;
}

.tms-pricing-table .tms-pricing-normal p .tms-btn:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.tms-pricing-table .tms-pricing-normal hr {
  background-color: #C4573D;
}

.tms-pricing-table .tms-pricing-normal:hover {
  transform: scale(1.05);
  border-color: #C4573D;
  transition: all 0.3s;
}

.tms-pricing-table .tms-pricing-choosed {
  position: relative;
  z-index: 2;
  padding: 1.5rem;
  background-color: #C4573D;
}

.tms-pricing-table .tms-pricing-choosed ul {
  color: #FFFFFF;
}

.tms-pricing-table .tms-pricing-choosed p .tms-price {
  color: #FFFFFF;
}

.tms-pricing-table .tms-pricing-choosed p .tms-btn {
  color: #000000;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.tms-pricing-table .tms-pricing-choosed p .tms-btn:hover {
  color: #FFFFFF;
  border-color: #000000;
  background-color: #000000;
}

.tms-pricing-table .tms-pricing-choosed hr {
  background-color: rgba(255, 255, 255, 0.5);
}

.tms-pricing-table .tms-pricing-choosed.tms-inner-border:hover {
  transform: scale(1.05);
  border-color: #C4573D;
  box-shadow: 0 0 1rem rgba(80, 80, 80, 0.25);
  transition: all 0.3s;
}

.tms-results h3 {
  font-size: 3rem;
}

.tms-results h3 em {
  font-style: normal;
}

.tms-results h3 span {
  font-size: 1rem;
  color: #C4573D;
}

.tms-opinions .tms-opinion .tms-opinion-head {
  width: 100%;
  position: relative;
  padding: 1.5rem;
  margin: 0 auto;
  border-right: 0px;
}

.tms-opinions .tms-opinion .tms-opinion-head img {
  margin-left: calc(100% / 6);
}

.tms-opinions .tms-opinion .tms-opinion-head h3, .tms-opinions .tms-opinion .tms-opinion-head h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  max-width: calc(100% / 3);
  padding-bottom: 0;
  padding-left: 1.5rem;
}

.tms-opinions .tms-opinion .tms-opinion-head h3 span, .tms-opinions .tms-opinion .tms-opinion-head h4 span {
  color: #C4573D;
}

.tms-opinions .tms-opinion .tms-opinion-text {
  width: 100%;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 3rem;
}

.tms-opinions .tms-opinion .tms-opinion-text p {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tms-opinions .tms-opinion .tms-opinion-text p::before, .tms-opinions .tms-opinion .tms-opinion-text p::after {
  font-family: FontAwesome;
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  color: #C4573D;
}

.tms-opinions .tms-opinion .tms-opinion-text p::before {
  content: '\f10d';
  top: -1.5rem;
  left: -0.5rem;
}

.tms-opinions .tms-opinion .tms-opinion-text p::after {
  content: '\f10e';
  bottom: -1.5rem;
  right: -0.5rem;
}

@media screen and (min-width: 480px) {
  .tms-opinions .tms-opinion .tms-opinion-text p {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .tms-opinions .tms-opinion {
    display: table;
  }
  .tms-opinions .tms-opinion .tms-opinion-head {
    width: calc(100% / 3);
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid rgba(80, 80, 80, 0.25);
  }
  .tms-opinions .tms-opinion .tms-opinion-head img {
    margin-left: 0;
  }
  .tms-opinions .tms-opinion .tms-opinion-head h3, .tms-opinions .tms-opinion .tms-opinion-head h4 {
    left: calc(100% / 3);
    max-width: inherit;
  }
  .tms-opinions .tms-opinion .tms-opinion-text {
    width: calc(100% / 3 * 2);
    display: table-cell;
    text-align: left;
  }
}

.tms-faq .tms-faq-question {
  padding-bottom: 0.5rem;
}

.tms-faq .tms-faq-question .tms-faq-head {
  position: relative;
  padding-right: 2rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.tms-faq .tms-faq-question .tms-faq-head a {
  border-bottom: 0;
}

.tms-faq .tms-faq-question .tms-faq-head a i {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.tms-showhide .tms-showhide-nav {
  display: none;
}

.tms-showhide .tms-showhide-nav ul {
  list-style: none;
  padding: 0;
}

.tms-showhide .tms-showhide-nav ul li {
  display: inline-block;
  width: calc(100% / 3);
  padding-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}

.tms-showhide .tms-showhide-nav ul li a {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-bottom: 0;
  color: #505050;
}

.tms-showhide .tms-showhide-nav ul li a span {
  display: none;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  color: #000000;
}

.tms-showhide .tms-showhide-nav ul li a:hover {
  color: #FFFFFF;
  background-color: #C4573D;
}

.tms-showhide .tms-showhide-nav ul li a:hover span {
  color: #FFFFFF;
}

.tms-showhide .tms-showhide-nav ul li a.active {
  color: #FFFFFF;
  background-color: #C4573D;
}

.tms-showhide .tms-showhide-nav ul li a.active span {
  color: #FFFFFF;
}

.tms-showhide .tms-showhide-items {
  text-align: center;
  border-width: 0;
  border-style: solid;
  border-color: #C4573D;
}

@media screen and (min-width: 480px) {
  .tms-showhide .tms-showhide-nav ul li a {
    text-align: left;
  }
  .tms-showhide .tms-showhide-nav ul li a span {
    display: inline;
  }
  .tms-showhide .tms-showhide-items {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .tms-showhide .tms-showhide-nav ul li {
    display: block;
    width: 100%;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .tms-banner {
    background-image: url("http://placehold.it/2560x1200");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
  }
}

.tms-contact {
  position: relative;
  width: 100%;
}

.tms-contact .tms-contact-box {
  position: relative;
  padding-top: 20rem;
}

.tms-contact .tms-contact-background {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tms-contact .tms-contact-background #gmap {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.tms-contact .tms-contact-background #gmap > div {
  height: 100%;
  min-height: 100%;
}

.tms-contact .tms-map-control {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 3;
  width: 10rem;
  cursor: pointer;
  color: #FFFFFF;
}

.tms-contact .tms-map-control > div {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  background-color: rgba(196, 87, 61, 0.85);
  border: 1px solid #c4573d;
}

.tms-contact .tms-map-colorover {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  background-color: rgba(80, 80, 80, 0.25);
}

.tms-contact .tms-contact-frame {
  font-family: 'Secondary', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 20rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background-color: rgba(196, 87, 61, 0.85);
  border: 1px solid #c4573d;
}

.tms-contact .tms-contact-frame p {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
}

.tms-contact .tms-contact-frame p span {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

.tms-contact .tms-map-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 3.5rem;
  margin-top: -2.625rem;
  margin-left: -1rem;
}

.tms-contact .tms-map-marker img {
  height: 3.5rem;
}

@media screen and (min-width: 768px) {
  .tms-contact .tms-contact-box {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

.tms-footer {
  position: relative;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 3rem;
  background-color: #231F20;
  color: #FFFFFF;
}

.tms-footer h3 {
  padding-bottom: 2rem;
}

.tms-footer h3 span {
  text-transform: none;
  color: rgba(255, 255, 255, 0.5);
}

.tms-footer ul.tms-list-row {
  padding: 0.7rem;
}

.tms-footer a:hover {
  color: currentColor;
}

.tms-footer p.tms-note {
  color: rgba(255, 255, 255, 0.5);
}

.tms-footer p.tms-note a {
  color: #FFFFFF;
  border-bottom-width: 0;
}

.tms-footer .tms-footer-logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 6rem;
  height: 2rem;
  margin-left: -1.5rem;
}

@media screen and (min-width: 768px) {
  .tms-footer {
    padding-top: 3rem;
  }
  .tms-footer .tms-footer-logo {
    top: 50%;
    margin-top: -1rem;
  }
}

/* ----------------
Extensions:
---------------- */
[data-slider-item] {
  position: relative;
  display: none;
}

[data-slider-item="1"] {
  display: block;
}

.tms-slider-control .tms-slider-prev, .tms-slider-control .tms-slider-next {
  position: absolute;
  bottom: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  cursor: pointer;
  text-align: center;
  background-color: #C4573D;
}

.tms-slider-control .tms-slider-prev {
  left: 0;
}

.tms-slider-control .tms-slider-next {
  right: 0;
}

.tms-slider-nav {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.tms-slider-nav span {
  display: inline-block;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem;
  border: 3px solid #C4573D;
  border-radius: 100%;
}

.tms-slider-nav span:hover, .tms-slider-nav span.active {
  background-color: #FFFFFF;
}

[data-gallery-item] {
  padding: 0 !important;
}

[data-gallery-item]:not(:first-child) {
  display: none;
}

.tms-gallery-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
  padding: 1rem 0.5rem;
}

.tms-gallery-nav span {
  display: inline-block;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem;
  border-radius: 100%;
  border: 3px solid #C4573D;
  background-color: transparent;
}

.tms-gallery-nav span:hover, .tms-gallery-nav span.active {
  background-color: #C4573D;
  transition: all 0.3s;
}

.tms-progress {
  position: relative;
  color: #C4573D;
}

.tms-progress h4 {
  position: absolute;
  padding-bottom: 0;
}

.tms-progress h4 span {
  font-size: 1.25rem;
}

[data-effect='tms-border'] {
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
}

[data-effect='tms-border']:hover {
  border-color: #C4573D !important;
  transition: all 0.3s;
}
