/* --------

   Primary Font:

    - Oswald Light, Oswald Light Italic
    - Oswald Bold, Oswald Bold Italic

   Secondary Font:

    - Ubuntu Light, Ubuntu Light Italic
    - Ubuntu Bold, Ubuntu Bold Italic

   -------- */
@font-face {
  font-family: 'Primary';
  src: url('../fonts/oswald/oswald-light.woff') format('woff'),
       url('../fonts/oswald/oswald-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Primary';
  src: url('../fonts/oswald/oswald-light-italic.woff') format('woff'),
       url('../fonts/oswald/oswald-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Primary';
  src: url('../fonts/oswald/oswald-bold.woff') format('woff'),
       url('../fonts/oswald/oswald-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Primary';
  src: url('../fonts/oswald/oswald-bold-italic.woff') format('woff'),
       url('../fonts/oswald/oswald-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Secondary';
  src: url('../fonts/ubuntu/ubuntu-light.woff') format('woff'),
       url('../fonts/ubuntu/ubuntu-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Secondary';
  src: url('../fonts/ubuntu/ubuntu-light-italic.woff') format('woff'),
       url('../fonts/ubuntu/ubuntu-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Secondary';
  src: url('../fonts/ubuntu/ubuntu-bold.woff') format('woff'),
       url('../fonts/ubuntu/ubuntu-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Secondary';
  src: url('../fonts/ubuntu/ubuntu-bold-italic.woff') format('woff'),
       url('../fonts/ubuntu/ubuntu-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
